<section>
  <div class="text-center">
    <img
      src="assets/profile-pic.jfif"
      class="img-fluid img-thumbnail border rounded-circle"
      alt="Profile Picture"
    />
  </div>
  <p><strong>Amedeo Bonanno</strong></p>
  <p>Full Stack Developer</p>
  <ul class="list-inline text-center">
    <li class="list-inline-item">
      <a href="https://linkedin.com/in/amedeobonanno" target="_blank"
        >LinkedIn</a
      >
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/coldfight" target="_blank">Github</a>
    </li>
  </ul>
</section>
