<header>
  <nav class="container navbar navbar-expand-sm navbar-light">
    <!-- Fix the bootstrap menu collapse -->
    <a class="navbar-brand" routerLink="/">Amedeo Bonanno</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
