<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="p-3 shadow-sm bg-white rounded">
        <h2>Contact Form</h2>

        <form
          class="mt-4"
          [formGroup]="contactForm"
          (ngSubmit)="submitForm()"
          novalidate
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="fullName"
              name="fullName"
              placeholder="Full Name"
              formControlName="fullName"
              #fullName
            />
            <p
              *ngIf="
                contactForm.controls['fullName'].invalid &&
                (contactForm.controls['fullName'].dirty ||
                  contactForm.controls['fullName'].touched)
              "
              class="alert alert-danger mt-3"
            >
              Your full name is required.
            </p>
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email Address"
              formControlName="email"
              #email
            />
            <p
              *ngIf="
                contactForm.controls['email'].invalid &&
                (contactForm.controls['email'].dirty ||
                  contactForm.controls['email'].touched)
              "
              class="alert alert-danger mt-3"
            >
              Should be a valid email address.
            </p>
          </div>

          <div class="form-group">
            <textarea
              name="message"
              id="message"
              rows="10"
              class="form-control"
              formControlName="message"
              #message
              placeholder="Write your message"
            ></textarea>
            <p
              *ngIf="
                contactForm.controls['message'].invalid &&
                (contactForm.controls['message'].dirty ||
                  contactForm.controls['message'].touched)
              "
              class="alert alert-danger mt-3"
            >
              Write a small message.
            </p>
          </div>

          <ngx-recaptcha2
            #captchaElem
            [siteKey]="captchaKey"
            (reset)="handleReset()"
            (expire)="handleExpire()"
            (load)="handleLoad()"
            (success)="handleSuccess($event)"
            [useGlobalDomain]="false"
            [size]="captchaSize"
            [hl]="captchaLanguage"
            [theme]="captchTheme"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>

          <div class="form-group mt-3">
            <button
              [disabled]="contactForm.invalid"
              class="btn btn-primary"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
