<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile p-3 shadow-sm bg-white rounded">
        <app-profile></app-profile>
      </div>
    </div>
    <div class="col-md-9">
      <div class="content-area p-4 shadow-sm bg-white rounded">
        <div *ngIf="resume">
          <app-about [aboutMe]="resume.aboutMe"></app-about>

          <hr class="elegant" />

          <app-work-experience
            *ngIf="resume.workExperience"
            [workExperience]="resume.workExperience"
          ></app-work-experience>

          <app-education
            *ngIf="resume.education"
            [education]="resume.education"
          ></app-education>

          <app-skills
            *ngIf="resume.skills"
            [skills]="resume.skills"
          ></app-skills>
        </div>
      </div>
    </div>
  </div>
</div>
