<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile p-3 shadow-sm bg-white rounded">
        <app-profile></app-profile>
      </div>
    </div>
    <div class="col-md-9">
      <div class="content-area p-4 shadow-sm bg-white rounded">
        <div *ngIf="resume">
          <app-about [aboutMe]="resume.aboutMe"></app-about>

          <hr class="elegant" />

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                routerLink="work-experience"
                routerLinkActive="active"
                class="nav-link"
                >Work Experience</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="education"
                routerLinkActive="active"
                class="nav-link"
                >Education</a
              >
            </li>
            <li class="nav-item">
              <a routerLink="skills" routerLinkActive="active" class="nav-link"
                >Skills</a
              >
            </li>
          </ul>
          <div class="container">
            <router-outlet></router-outlet>
          </div>
          <!-- 
          <app-work-experience
            *ngIf="resume.workExperience"
            [workExperience]="resume.workExperience"
          ></app-work-experience>

          <hr class="elegant" />

          <app-education
            *ngIf="resume.education"
            [education]="resume.education"
          ></app-education>

          <hr class="elegant" />

          <app-skills
            *ngIf="resume.skills"
            [skills]="resume.skills"
          ></app-skills> -->
        </div>
      </div>
    </div>
  </div>
</div>
